$text-white: #fff;
$bg-white: #fff;
$header-bottom: #d9fff5;
$bg-main: #f8f8f8;
$bg-marker: #41f7d7;
$border-active: #B8FFEC;
$border-brand: #eaeaea;
$bg-pagination: #dddddd;
$bg-pagination-active: #b5b6bc;
$text-card: #7e7e82;
$card-button-bg: #ff3e79;


