.swiper {
  width: 100%;
}

.brands__grid {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  gap: 20px;
}

.swiper-pagination {
  display: flex;
  justify-content: center;
  gap: 10px;
  height: 20px;
  margin-top: 20px;
}

.swiper-pagination-bullet {
  display: block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #dddddd;
}

.swiper-pagination-bullet-active {
  background: #b5b6bc;
}

@media (max-width: 768px) {
  .brands__slider .swiper-wrapper {
    display: flex;
    column-gap: 0;
  }
}

@media (min-width: 768px) {
  .brands__slider .swiper-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    width: 90%;
    margin: 0 auto;
  }

  .swiper-pagination {
    display: none;
  }

  .brands__slider {
    height: 145px;
  }
}

@media (min-width: 1440px) {
  .brands__slider .swiper-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
  }
}
