.devices {
  padding: 20px 0;

  &__title {
    margin: 0 -5%;
    padding: 20px 0;
    background: linear-gradient(to right, $bg-main, $bg-white);
    border-top: 1px solid $header-bottom;
  }

  &__title-text {
    margin: 0 5%;
  }

  &__inner {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-gap: 10px;
    list-style-type: none;
    padding: 0 5%;
    height: 100%;
    scroll-behavior: smooth;
    overflow-x: auto;
  }

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid $border-brand;
    border-radius: 5px;
    width: 220px;
    height: 130px;
    padding: 20px 15px;
    background: $bg-white;
    cursor: pointer;
  }

  &__arrow {
    width: 40px; 
    height: 40px;
    align-self: flex-end;
  }

  &__pagination {
    display: flex;
    gap: 12px;
    justify-content: center;
  }

  &__round {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: $bg-pagination;
  }

  &__round_active {
    background: $bg-pagination-active;
  }
}