.order {
  position: absolute;
  background: $bg-white;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  box-shadow: 16px 0 52px 0 rgba(14, 24, 80, 0.2);

  &__header {
    padding: 20px 0;
  }

  &__form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__input {
    border: 1px solid $border-brand;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
    padding: 12px;
  }

  &__input::placeholder {
    color: $bg-pagination-active;
  }

  &__text {
    display: block;
    color: $text-card;
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
  }

  &__text_red {
    color: $card-button-bg;
  }

  &__btn-block {
    display: flex;
    justify-content: flex-end;
  }

  &__button {
    gap: 5px;
  }
}

.order_none {
  display: none;
}

@media all and (min-width: 768px) {
  .order {
    width: 320px;

    &__header {
      padding: 0;
    }
  }

  button[data-close-call],
  button[data-close-fidback] {
    position: absolute;
    left: -20%;
    top: 25px;
  }
}

@media all and (min-width: 1440px) {
  button[data-close-call],
  button[data-close-fidback] {
    display: block;
    position: absolute;
    left: -20%;
    top: 25px;
  }
}