.prices {
  padding: 20px 0;

  &__title {
    margin: 0 -5%;
    padding: 20px 0;
    background: linear-gradient(to right, $bg-main, $bg-white);
    border-top: 1px solid $header-bottom;
  }

  &__title-text {
    margin: 0 5%;
  }

  &__inner {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-gap: 10px;
    list-style-type: none;
    padding: 0 5%;
    height: 100%;
    scroll-behavior: smooth;
    overflow-x: auto;
  }

  &__inner::-webkit-scrollbar {
    width: 0;
  }

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 5px;
    width: 220px;
    height: 150px;
    padding: 15px;
    background: $bg-white;
    cursor: pointer;
  }

  &__top,
  &__middle,
  &__bottom-left {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  &__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__button {
    display: inline-flex;
    gap: 10px;
    align-items: center;
    background: $card-button-bg;
    padding: 4px 4px 2px 10px;
    border-radius: 30px;
    border: 0;
    color: $bg-white; 
    font-size: 13px;
    cursor: pointer;
    transition: all 500ms;
    height: 28px;
  }

  &__button:hover {
    opacity: 0.5;
  }

  &__text {
    font-size: 13px;
    font-weight: 500;
  }

  &__text_btn {
    font-size: 12px;
  }

  &__text-color {
    color: $text-card;
  }

  &__arrow {
    width: 25px; 
    height: 25px;
  }

  &__pagination {
    display: flex;
    gap: 12px;
    justify-content: center;
  }

  &__round {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: $bg-pagination;
  }

  &__round_active {
    background: $bg-pagination-active;
  }

  &__total {
    margin-top: 30px;
  }

  &__total-inner {
    display: flex;
    flex-direction: column;
  }

  &__btn-arrow {
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  &__btn {
    display: inline-flex;
    flex-direction: column;
    margin-top: 20px;
    font-weight: 500;
    cursor: pointer;
    width: fit-content;
    background: $bg-main;
    border: none;
    padding: 0;
  }

  &__btn-bottom {
    display: flex;
    align-items: center;
  }
}

@media all and (min-width: 768px) {
  .prices {
    &__inner {
      display: none;
    }

    &__pagination {
      display: none;
    }

    &__total-inner {
      width: 50%;
    }

    &__btn {
      flex-direction: row;
      align-items: center;
    }

    &__btn-bottom {
      margin-left: 5px;
    }
  }
}