.ribbon {
  padding-bottom: 25px;

  &__inner {
    padding: 0 5%;
    display: flex;
    align-items: center;
    gap: 15px;
    flex-direction: row;
    height: 100%;
    scroll-behavior: smooth;
    overflow-x: auto;
  }

  &__inner::-webkit-scrollbar {
    width: 0;
  }

  &__item {
    white-space: nowrap;
    text-decoration: none;
    cursor: pointer;
    color: $text-card;
  }

  &__item:hover {
    opacity: 0.8;
  }

  &__item_active {
    border: 2px solid $border-active;
    padding: 6px 10px;
    border-radius: 5px;
    background: $bg-white;
  }
}

@media all and (min-width: 1440px) {
  .ribbon {
    &__inner {
      justify-content: space-between;
    }
  }
}