/* .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: gray;
}

.swiper-pagination-bullet-active {
  background: #b5b6bc;
}

.swiper-pagination-castom {
  margin-top: 30px;
  display: flex;
  justify-content: center;
} */

/* her style */

/* .swiper {
  width: 100%;
} */

/* .grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 20px;
}

.swiper-slide {
  grid-column: 4 span;
}

.content-card {
  padding: 20px;
  min-height: 200px;
  font-family: sans-serif;
  background-color: wheat;
} */

/* @media (min-width: 320px) {
  .slider-2 .swiper-wrapper {
    display: flex;
    column-gap: 0;
  }
} */

/* @media (mix-width: 768px) {
  .slider-1 .swiper-wrapper {
    display: flex;
    column-gap: 0;
  }
} */





