.title {
  position: relative;
  padding: 25px 0;

  &__text {
    margin: 0;
    padding-left: 5%;
  }

  &__marker {
    position: absolute;
    height: 40px;
    width: 4px;
    background: $bg-marker;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    top: 50%;
    transform: translateY(-50%);
  }
}