.title {
  position: relative;
  padding: 25px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__right {
    display: none;
    padding-right: 5%;
    list-style-type: none;
    gap: 30px;
  }

  &__right-item {
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 500;
  }

  &__text {
    margin: 0;
    padding-left: 5%;
  }

  &__marker {
    position: absolute;
    height: 40px;
    width: 4px;
    background: $bg-marker;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    top: 50%;
    transform: translateY(-50%);
  }
}

@media all and (min-width: 1440px) {
  .title {
    &__right {
      display: flex;
    }
  }
}